.slick-prev, .slick-next {
    top: 13.5% !important;
    margin-right: 0rem;
    Height: 60px !important;
}


@media (max-width: 1039px) {
    .slick-prev, .slick-next {
        margin-right: 0rem !important;
    }
}

@media (max-width: 639px) {
    .slick-prev, .slick-next {
        top: 11.5% !important;
    }
}