/*header y footer*/

.top-bar, .top-bar ul {
    background-color: #2C8B9E;
}

.header, .header ul {
    background-color: #FFFFFF;
}

#menu-desktop {
    background: #2C8B9E;
    
}

.name {
    color: #FFB81C;
    font-size: 14px;
    font-weight: 600;
}
.value {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.menu-level-1 a:hover {
    color: #ffffff;
    background: #00C1D4;
}

.menu .is-active > a {
    background: #00C1D4;
    color: white;
}

.dropdown.menu > li.is-active > a {
    background: #00C1D4;
    color: #ffffff;
}

.menu-level-1 a {
    
    font-weight: 600;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.footer .icon:hover{
	 color: #FDD26E;

}

.hamburger {
    color: #003865;
}
.accordion .menu-acordeon a:hover {
    color: #FDD26E;
    
}
a:hover {
    color: #FDD26E;
    
}


/* gpi */


.table-responsive table thead {
    color: #a9b2cb;
    background-color: #2C8B9E;
}

.icon {
    color: #003865;
   
}

.cuadroprincipal {
    border: 2px solid #003865;
    
}

.SteppedProgress li.complete:before {
    background: #2C8B9E;
    
}

.SteppedProgress li.complete:after {
    background: #2C8B9E;
}
button.default-action, .button.default-action {
    
    border-color: #1f3366;
    color: #2c8b9e;
    transition: background-color 300ms ease-out;
    color: #2c8b9e;
    -moz-box-shadow: 0 0 0 2px #2c8b9e inset;
    -webkit-box-shadow: 0 0 0 2px #2c8b9e inset;
        font-weight: 600;
    /* box-shadow: 0 0 0 1px #1f3366 inset; */
}

button.default-action:hover, button.default-action:focus, .button.default-action:hover, .button.default-action:focus {
    background-color: #2c8b9e;
}
.descEtiqueta {
    
     font-weight: 500; 
    
}
.tabla1.descEtiqueta {
    color: #003865;
    font-size: 18px;
}

.bordermodal {
    border: 3px solid #c60f13;
    
}

/*home privado */

.privado .icon- a {
    
    color: #2C8B9E;
    
}
.privado h2 a {
    color: #2C8B9E;
    
}
.privado a:hover {
    color: #00C1D4;
    transition: .3s;
}
.privado h1 {
    color: #003865;
    
}
.menu-lateral1 .submenu-admin li:hover {
    color: #00C1D4;
    transition: .3s;
}

/*linea de financiamiento*/


.privado h2 {
    color: #003865;
}

.table-responsive table thead {
    color: #1f3366;
    background-color: #2C8B9E;
}

.alert-box.warning {
    /* border: 3px solid #ffae00; */
    border-radius: 5px;
    background-color: #F23D53;
}

.resaltar-linea2 {
    color: #2C8B9E !important;
  
}
.resaltar-linea {
    color: #2C8B9E !important;
    
}


.section-size {
    width: 100%;
    background-color: white;
    /* min-height: calc(121vh - 275px); */
    min-height: calc(93vh - 0px);
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    position: relative;
}





.colorinfo{
    color:white;
}

.textinfo{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato-Regular';
}


#menu-desktop .row{
    max-width: 63.9rem !important;
}


/* fin carrusel */

button.default-action, .button.default-action {
    color: #2C8B9E;
    box-shadow: 0 0 0 2px #2c8b9e inset;
    font-weight: bold;
}
button.default-action:hover, button.default-action:focus, .button.default-action:hover, .button.default-action:focus {
    background-color: #2C8B9E;
}

button, .button {
    background-color: #2C8B9E;
    font-weight: bold;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #00C1D4;
}



.reveal {
    border-radius: 55px 0px 55px 0px;
}


.dropdown a {
    font-size: 12px;
}

.dropdown.menu {
    display: flex;
    justify-content: space-between;
}
