/*TIPOGRAFIAS*/ 
@font-face { 
    font-family: "Lato_Bold";
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato_Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Raleway_Bold";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Lato_Regular";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Lato-Semibold";
    src: url(../fonts/Raleway/Lato-Semibold.ttf);
}
@font-face {
    font-family: "Lato-Medium";
    src: url(../fonts/Raleway/Lato-Medium.ttf);
}

@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

 

/*GENEREAL*/
/*espacio*/
.espacio-linea1 {
    margin-top: 1rem;
}
.section-size-privado2 {
    width: 100%;
    background-color: white;
    min-height: calc(105vh - 380px);
    margin-bottom: 35px;
    margin-top: 0px;
}

/*titulo*/
.tag-title {
    padding: 30px 16px 0px 16px;
}
.titlepage{
    color:#003865 !important;
    font-size: 27px !important;
    font-family: Lato_Bold !important;
    margin-bottom: 0px;
}
.hr_title{
    margin: 10px auto 20px auto;
    border-bottom: 1px solid #424141;
}
.Text_subtitle{
    color: #003865 !important;
    font-family: Raleway_Bold !important;
    font-size: 18px;
}

/*textos labels*/
.title_infopage{
    color:#003865 !important;
    font-size: 27px;
    font-family: Lato_Bold !important;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 20px;
}
.lbl_info{
    color: #424141;
    font-family: Raleway_Bold !important;
    font-size: 16px;
}
.lbl_title{
    color: #003865 !important;
    font-family: Raleway_Bold !important;
    font-size: 14px;
}
.lbl_gesticon_text{
    font-size: 14px !important;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    color: #424141;
    font-family: Raleway_Bold !important;

}
.info_autorizacion {
    margin-top: 10px;
    text-align: center !important;
    font-size: 18px;
}
strong.strongcolor{
    color: #2C8B9E;
    font-family: Raleway_Bold !important;
    font-size: 18px;
}
.obligatorio h4 {
    font-size: 16px;
    color: #424141;
}
.text_titlemodalcenter{
    text-align: center !important;
}

.txts_leftcentered{
    text-align: left;
    padding-left: 20px !important;
}

/*iconos*/
.gestion-bb2 i.Gestiones_icon-gestiones-hoja{
    text-align: center;
    font-size: 3rem !important;

}

.gestion-bb2 i.Gestiones_icon-gestiones-computadora{
    text-align: center;
    font-size: 3rem !important;

}

a.icon_colorgestions {
    color: #2C8B9E;
}
a.icon_colorgestions:hover {
    color: #00C1D4 !important;
}

i.Gestiones_icon-gestiones-check {
    text-align: center;
    color: #1EC771;
    font-size: 40px;
}
i.Gestiones_icon-gestiones-revision {
    color: #2C8B9E;
    font-size: 40px;
}
.name_icon{
    font-family: Raleway-Regular !important;
    color: #424141;
    font-size: 18px;
}


/*inputs*/
input[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border-color: #CCCCCC;
}
input[type='search'] {
    font-size: 14px !important;
    border-color: #C4C4C4;
    font-family: Lato_Regular!important;
}
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    background-color: #f8f8f8;
    cursor: not-allowed;
    border-color: #CCCCCC;
}

/*divs especiales*/
.gestionbox {
    border: 1px solid transparent; 
    text-align: center;
    padding: 1rem 0.6rem 1rem 0.6rem;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}
.gestionbox:hover   {
    padding: 1rem 0.5rem 1rem 0.5rem;
    border: 1px solid #00C1D4;
}

/*radiobuttons*/
input[type=radio]:not(old)+label>span.radiospecialtd {
    width: 16px;
    height: 16px;
    border: 1.5px solid #003865;
    margin-right: 5px;
}


/*selectores*/
select:not([multiple]) {
    padding-top: 0;
    padding-bottom: 0;
    color: #707070;
    border-color: #CCCCCC;
}

/*espacios*/
.espacio-linea2 {
    margin-top: 2rem;
}
.espacio-linea3 {
    margin-top: 1rem;
}
.espacio-linea4 {
    margin-top: 1.57rem;
}
.divider-line {
    border-bottom: 1.5px solid #707070;
}

/*textos tablas*/
.table-responsive table tr td {
    padding-right: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
}
.td_texttitle{
    color: #003865 !important;
    font-family: Lato_Bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
}
.td_textnormal{
    color: #959090 !important;
    font-family: Lato_Bold !important;
    font-size: 12px !important;
}
.td_txtresalt{
    color: #2C8B9E !important;
    text-decoration: underline;
    font-family: Lato_Bold !important;
    font-size: 12px !important;
    cursor: pointer;
}

.td_txtresalt:hover{
    color: #00C1D4 !important;
}


/*switch*/
.switch {
    height: 1rem !important;
    margin-right: 10px !important;
}
label.switch-paddle{
 border-radius: 28px;
 width: 40px;
    height: 20px;
    margin-top: 6px;
}
input:checked ~ .switch-paddle{
  background: #00c1d4;

}
.switch-paddle::after {
    border-radius: 20px !important; 
    width: 14px;
    height: 14px;
    top: 0.19rem;
}
input:checked ~ .switch-paddle::after {
    left: 1.40rem;
}

/*checks*/
.miCheckbox span {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    border: 2px solid #003865 !important;
}
.checkright{
    text-align: -webkit-center;
}
.miCheckbox input:checked + span {
    box-shadow: inset 0px 0px 0px 1px #fff;
    background-color: #003865 !important;
}
/*alertas*/
/*exito*/
.alert-box.success {
    font-size: 14px;
}
/*info*/
.alert-box.callout.info.textinfo {
    background-color: #003865;
}
.alert-box {
    background-color: #003865;
}

/*errors*/
small {
    color: #f23d53 !important;
    font-family: Lato_Regular !important;
    font-weight: 100;
}
.form-error {
    color: #f23d53 !important;
}
.is-invalid-input:not(:focus) {
    border-color: #f23d53 !important;
    background-color: #ffffff;
    margin: 0 0 0rem;
}

.lbl_title.is-invalid-label {
    color: #f23d53 !important;
}

/*bototes*/
.more_space_boton {
    padding: 1rem 1rem 1.0625rem 1rem !important;
}
button.more_space_boton2 {
    padding: 1rem 0.5rem 1.0625rem 0.5rem !important;
}



/*calendarios*/
i.glyphicon.Gestiones_icon-gestiones-calendario {
    font-size: 16px;
    margin-top: 2px;
    color: #003865;
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 34px;
  pointer-events: none;
}
.right-addon .glyphicon {
  right: -6px;
}
.right-addon input {
  padding-right: 30px;
}
.datepicker thead, tbody, tfoot {
    border: 0px solid #f1f1f1;
    background-color: #fefefe;
    font-family: Lato-Regular;
}
.datepicker span {
    font-size: 12px;
    color: black;
    font-family: Lato-Regular !important;
}


/*MODALES*/
div#modal_asignarpermisos {
    width: auto;
}

h1.txt_modal_title {
    margin-top: 35px;
    color: #003865;
    font-size: 27px;
    text-align: center;
}
h1.txt_modal_title_conf{
    font-family: Raleway_Bold !important;
    font-size: 25px;
    color: #2C8B9E;
    font-weight: bold;
}
label.txt_info {
    color: #666666;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}
label.txt_infodata{
    color: #666666;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 15px; 
    margin-bottom:15px;

}

/*imagenes*/
.img_info {
    max-width: 100%;
    width: auto;
    height: auto;
}


/*tabla vacia*/
td.dataTables_empty {
    color: #959090 !IMPORTANT; 
    font-size: 14px !important;
    font-family: Lato-Regular !important;
}


/*Media QUERYS*/

/*MOVIL*/
@media (max-width:640px){
/*modales*/
div#modalConfirmacion {
    width: 95%;
    margin-left: 12px;
    min-height: auto;
    height: auto;
}

div#modal_asignarpermisos {
    width: 95%;
    margin-left: 12px;
    min-height: auto !important;
    height: auto;
/*    margin-top: 30px;*/
}


/*-----------------------------------------*/
/*   switch */
    .switch {
        height: 1rem !important;
        margin-right: 0px !important;
    }

/*    checks*/

    .miCheckbox.checkright span {
        margin-left: auto;
        text-align: right;
    }
     /*margen de tabla en responsive*/
    .table-responsive table tbody tr:nth-child(odd) {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
    }

    .table-responsive table tbody tr:nth-child(even) {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        padding-top: 0.3rem !important;
        padding-bottom: 0.3rem !important;
    }

    .td_texttitle{
        text-align: right !important;
    }
    .td_textnormal{
        text-align: right !important;
    }
    .txt_paddingTop{
        margin-top: 20px !important;
    }
    .txts_leftcentered{
        text-align: right;
        padding-left: 0px !important;
    }
    .td_textnormal.txt_paddingTop.txts_leftcentered {
        text-align: justify !important;
    }
    
    p.td_textnormal.txts_leftcentered.txt_justifyend {
        text-align: end !important;
        margin-top: 20px !important;
    }


    /*  DESPLIEGA EL CALENDARIO DIARIO  */
    .datepicker table tr {
        border-bottom: 0px solid #fff;
        display: flex;
        justify-content: space-between;
    }   
    .datepicker table thead {
        position: unset;
    }
    .datepicker tbody tr:nth-child(even) {
        background-color: #fff;
    }

    /*DESPLIEGA EL CALENDARIO MENSUAL*/
  .datepicker-months td{
    text-align: center;
    width: 185px;
    height: 120px;
    border: 0;
  }
  .datepicker-months table tr td span {
    display: block;
    width: 23%;
    height: 38px;
    line-height: 36px;
    float: left;
    margin: 1%;
    cursor: pointer;
}
 
/*DESPLIEGA EL CALENDARIO ANUAL*/
  .datepicker-years td{
    text-align: center;
    width: 185px;
    height: 120px;
    border: 0;
  }
  .datepicker-years table tr td span {
    display: block;
    width: 23%;
    height: 38px;
    line-height: 36px;
    float: left;
    margin: 1%;
    cursor: pointer;
  }


}


/*  ----------------------FASE 2 - GESTIONES EN PROCESO ABRIL 2023--------------------- */

/*enlace en titulo*/
.Link_subtitle{
    color: #2C8B9E; 
    font-size: 16px;     
    margin-bottom: 0px !important;
    margin-top: 16px;
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}
.Link_subtitle:hover {
    color: #00C1D4 !important;

}
.tag-sublink{
    padding: 30px 16px 0px 16px;
}
i.Gestiones_icon-gestiones-check_2.icon_sublink {
    position: absolute;
    margin-left: -1.3rem;
    margin-top: 3px;
}

i.Gestiones_icon-gestiones-reloj.icon_sublink {
    position: absolute;
    margin-left: -1.3rem;
    margin-top: 3px;
}

/*VISTAS DE TABLEROS*/
.switch_view{
    text-align: right;
    margin-top: 20px;
    padding-right: 15px;
    float: right;
}
span.positionvista{
    color: #003865;
    font-family: Lato_Bold !important;
    font-size: 16px; 
    position: absolute;
    display: block;
    margin-top: 2px;
    display: contents; 
    margin-right: 52px;
}
i#view_lista {
    margin-right: 8px !IMPORTANT;
    margin-left: 8px !important;
}

.view_lista{
    color: #CCCCCC;
    font-size: 20px;
}
.view_lista:hover{
    color: #2C8B9E;
}
.view_mosaico{
    color: #CCCCCC;
    font-size: 20px;
}
.view_mosaico:hover{
    color: #2C8B9E;
}
.iconswitch {
    font-size: 30px !important;
    height: 30px;
    width: 30px;
    margin: 0 !important;
    padding: 0 !important;
    display:inline-block; 
    margin-right:20px;
    /*transition: .5s;*/
}
.btnswitch_active {
    color: #2C8B9E;
}
.btnswitch_desactive {
    color: #cfcfcf;
}
.iconswitch:hover {
    color: #2C8B9E;
}

/*nuevas iconos fechas*/
i.glyphicon.Gestiones_icon-gestiones-calendario{
    font-size: 16px;
    margin-top: 2px;
    color: #003865;
}

/*Checks*/
.miCheckbox.check_all_Gestion span {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer !important;
    margin-top: 10px !important;
} 
label#check_gestion {
    font-size: 16px;
    color: #424141;
    MARGIN-RIGHT: 125PX;
    FLOAT: RIGHT;
}

p.lbl_allgestion {
    font-family: Lato-Regular !important;
    font-size: 14px;
    width: 1200%;
    margin-left: 10px;
    margin-top: -5px;
    font-weight: normal !important;
}

/*iconos de tablas*/
i.tableicon_gestion{
    text-align: center;
    font-size: 35px !important;
    color: #2C8B9E;
}
.Tablelbl_gest_text{
    color: #424141 !important;
    font-size: 14px;
    font-family: Lato_Bold !important;

}
/*borde de la tabla*/
.row_border_right{
    border-right: 1.5px solid #8C8C8C !important;
}
.row_info_etapa{
    border-right: 1.5px solid #8C8C8C !important;
    width: 40%;
}
/*contenido del detalle de gestiones*/
.td_ges_title{
    color: #2C8B9E !important;
    font-size: 16px !important;
    font-family: Lato_Bold !important;
    text-align: center;
    margin-bottom: 0px;
}

.td_gest_detail{
    color: #424141 !important;
    font-size: 16px !important;
    font-family: Lato-Regular !important;
    margin-bottom: 0px;

}

/*nueva modal*/
h1.txt_modal_minititle{
    color: #424141;
    font-size: 18px;
    font-family: Lato-Regular !important;
    font-weight: normal;
}
h1.txt_modal_titleblue{
    color: #003865 !important;
    font-size: 28px;
}
p.modaltd_ges_title {
    color: #2C8B9E !important;
    font-size: 16px !important;
    font-family: Lato_Bold !important;
    text-align: left !important;
    margin-bottom: 0px;
}
 p.txt_etapa {
    margin-bottom: 0px;

}

/*alert links*/
.alert_link{
    cursor:pointer; 
    font-weight: bold;
}
.alert_link:hover{
    color: #00C1D4 !important;
}
u.alert_link {
    font-size: 12px;
}


/*tabla de etapas*/
.txt_etapa{
    color: #424141 !important;
    font-size: 18px;
    font-family: Lato-Regular !important;
    font-weight: normal;
/*    text-align: right !important;*/
    margin-top: 10px;
}
.Num_etapa{
    color: #003865 !important;
    font-size: 28px;
    font-family: Lato_Bold !important;
    font-weight: normal;
/*    text-align: left !important;*/
    margin-bottom: 0px;
}
.Name_etapa{
    color: #003865 !important;
    font-size: 14px;
    font-family: Lato_Bold !important;
    font-weight: normal;
/*    text-align: left !important;*/
}

.td_txtprocess{
    color: #2C8B9E !important;
    text-decoration: underline;
    font-family: Lato_Bold !important;
    font-size: 14px !important;
    cursor: pointer;
}

.td_txtprocess:hover{
    color: #00C1D4 !important;
}

/*modal responsive*/
div#modal_gestionprocess {
    width: 90% !important;
        height: auto !important; 
        min-height: auto !important;
        margin-left: auto;
        margin-right: auto;
}


/*progres bar*/
.txt_bar{
    font-size: 14px !important;
    font-family: Lato_Bold !important;
    width: 100%;
}
ul.SteppedProgress{
    counter-reset:step;display:flex;
    margin:auto;
    overflow:hidden;
    padding:0;
    position:relative;
    text-align:center;
    z-index:0;
}

.SteppedProgress li{
    list-style-type:none;
    color:#404140;
    line-height:normal;
    flex:1;
    font-size:22px;
    position:relative;
    padding:0 2%;
}

.SteppedProgress li.boxed span, .SteppedProgress li.current span{
    background:silver;
    border:1px solid silver;
    color:gray;display:inline-block;
    padding:3px 6px;
    position:relative;
    margin:0px -6px;
    width:100%;
}
.SteppedProgress li.boxed span:after,.SteppedProgress li.current span:after{
    bottom:100%;left:50%;
    border:solid transparent;content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(255,255,255,0);
    border-bottom-color:silver;
    border-width:10px;
    margin-left:-10px; 
    height: 28px;
}
.SteppedProgress li.current span{
    background: #4170b0; 
    color:#FFF
}
.SteppedProgress li.current span:after{
    border-bottom-color:#4170b0;
}
.SteppedProgress li.current.canHover span:hover{
    background:#b9cce5;
    border-color:#4170b0;
    color:#4170b0
}
.SteppedProgress li.current.canHover span:hover:after{
    border-bottom-color:#b9cce5;
}
.SteppedProgress li.complete.boxed span{
    background:#23b900;
    color:#FFF;
}
.SteppedProgress li.complete.boxed span:after{
    border-bottom-color:#23b900;
}
.SteppedProgress li.complete.boxed.canHover span:hover{
    background:#95ff7c;
    border-color:#23b900;
    color:#23b900;
    cursor:pointer;
}
.SteppedProgress li.complete.boxed.canHover span:hover:after{
    border-bottom-color:#23b900;
    cursor:pointer;
} 
.SteppedProgress li:before{
    content:counter(step);
    counter-increment:step;
    width:30px;
    line-height:30px;
    margin-top: 2px !important;
    display:block;
    font-size:22px;color:#FFF;
    border: 2px solid #2C8B9E;
    background: white;
    border-radius:15px;
    margin:0 auto 10px;
    position:relative;
    z-index:1; 
    content: "";
    font-family: "bibanking" 
    !important; height: 28px;
}
.SteppedProgress li:after{
    content:'';
    width:100%;
    height:6px;
    background:silver;
    position:absolute;
    left:-50%;
    top:15px;
    z-index:-1;
}
.SteppedProgress li:first-child:after{content:none}
.SteppedProgress li.complete:before{
    background:#0055B8;
    color:white; 
    content: "";
    font-family: "bibanking" !important; 
    height:28px;
}
.SteppedProgress li.complete:after{
    background:#0055B8;
}
ul.SteppedProgress.Vertical{
    display:block;
}
.SteppedProgress.Vertical li{
    flex:none;
    clear:both;
    text-align:left;
    padding:0;
    margin-left:0;
    min-height:10.2em;
}
.SteppedProgress.Vertical li span{
    white-space:nowrap;
}
ul.SteppedProgress.Vertical li:before{
    float:none;
    display:inline-block;
    margin-right:10px;
    text-align:center;
    margin-left:0;
}
.SteppedProgress.Vertical li:after{
    content:'';
    width:6px;
    height:100%;
    position:absolute;
    left:12px;top:-87%;
    z-index:-1;
}
ul.SteppedProgress.Vertical li.boxed,ul.SteppedProgress.Vertical li.current{
    min-width:90%
}
ul.SteppedProgress.Vertical li.boxed span,ul.SteppedProgress.Vertical li.current span{
    display:inline;
    margin-left:0;
}
ul.SteppedProgress.Vertical li.boxed span:after,ul.SteppedProgress.Vertical li.current span:after{
    bottom:auto;
    left:auto;right:100%;
    top:7px;
    border-color:rgba(255,255,255,0);
    border-right-color:silver;
    margin:0;
}
ul.SteppedProgress.Vertical li.current span:after{
    border-right-color:#4170b0;
}
ul.SteppedProgress.Vertical li.complete.boxed span:after{
    border-color:rgba(255,255,255,0);
    border-right-color:#23b900;
}

.SteppedProgress li.complete:before {
    background: #2C8B9E;
    margin-top: 2px;
    border: 0px !important;
    content: url("../img/gestiones-bb-tracking-Img/tracking-lleno.svg");
}
.SteppedProgress li.complete > span {
    color: #424141;
}

.SteppedProgress li.complete:after {
    background: #2C8B9E;
}

/*Progress BAR FINALIZADOO finalizado*/
.SteppedProgress li.complete.done:before {
    background:  #28C771;
    margin-top: 2px;
    border: 0px !important;
    content: url("../img/gestiones-bb-tracking-Img/tracking-lleno-verde.svg");
}
.SteppedProgress li.complete.done > span {
    color: #424141 !important;
}

.SteppedProgress li.complete.done:after {
    background: #28C771;
}


/*boton deshabilitado*/
.btn_disabled{
    background-color: #959090 !important;
}

/*responsive*/
/*MOVIL*/
@media (max-width:640px){
    .Link_subtitle {
        margin-top: 5px;
        text-align: left;
        margin-left: 20px;
    }
    .tag-sublink{
        padding: 0px 16px 0px 16px;
    }
    i.tableicon_gestion {
        margin-right: 25px;
    }
    .row_border_right {
        border-right: 0px solid #8C8C8C !important;
    }
    .row_info_etapa{
        border-right: 0px solid #8C8C8C !important;
        width: 100%;
    }
    .td_ges_title {
        text-align: right;
    }
    .btn-tableresp{
        margin-top: 25px;
    }
    .miCheckbox.check_all_Gestion span {
        margin-right: 110px;
    }
    .txt_bar {
        font-size: 11px !important;
    }
    p.txt_etapa {
        margin-bottom: 0px;
    }
    p.td_txtprocess {
        text-align: center;
        font-size: 16px !important;
    }

    p.modaltd_ges_title {
        text-align: center !important;
    }
    label#check_gestion {
        MARGIN-RIGHT: 0PX; 
        FLOAT: left;
    }
    #views_ofdata{
        display: none;
    }
    #ContenidoMosaico{
        display: none !important;
    }
    #ContenidoLista{
        display: block !important;
    }
    .SteppedProgress li {
        list-style-type: none;
        color: #404140;
        line-height: normal;
        flex: 1;
        font-size: 11px;
        position: relative;
        padding: 0px 0%;
    }
}


/* ----------------- FASE 3 --------------------------*/
.espacio-lineasub {
    margin-top: 0rem;
}
.gestion-bb2 i.Gestiones_icon-gestiones-Otras-gestiones{
    text-align: center;
    font-size: 3rem !important;
}

.lbl_gesticon_text {
    margin-top: 10px;
}
.mbotom{
    margin-bottom: 170px;
}

/*PENDIENTES DE AUTORIZAR*/
p.modal_txtquestion {
    color: #0a0a0a;
}
div#modal_rechazo {
    padding: 3rem;
    width: 750px;
}

.espacio-linea6 {
    margin-top: 1.57rem;
}

@media (max-width:640px){
    .mbotom{
        margin-bottom: 0px;
    }

    .gestionbox {
        padding: 2rem 1rem 2rem 1rem;
    }
    .gestionbox:hover {
        padding: 2rem 1rem 2rem 1rem;
    }

    .new_Secction{
        padding-left: 11% !important;
        margin-left: 0px !important;
    }
    #testFlex {
        display: block !important;
    }

/*PENDIENTES DE AUTORIZAR*/
    div#modal_rechazo {
        width: 95%;
        margin-left: 12px;
        min-height: auto;
        height: auto;
        padding: 1rem;
    }
    .espacio-linea6 {
        margin-top: 0.7rem;
    }
}

.new_Secction {
    margin-left: 8%;
}

#testFlex {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/*NUEVO MENU DE GESTIONES*/
.row.row_gestion {
    width: 95%;
    margin-left: 5px;
    height: 65px;
    background-color: #F7F7F7;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
}
.gestionbox_frec {
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}
.row.row_gestion:hover {
    border: 1px solid #00C1D4;
}
h3.sub_section{
    color:#424141;
    font-size: 20px;
    font-family: Lato_Bold !important;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lbl_gestfrec_text{
    color:#424141;
    text-align: left !important;
    font-size: 14px !important;
    margin-bottom: 0rem;
    font-family: Lato_Bold !important;
}
/*menu lateral*/
.lateral-size {
    background-color: #EBEBEB;
    border-radius: 40px 0px;
}
.accordion-menu .nested.is-accordion-submenu {
    background-color: #D8D8D8;
}
h2.menu_tittle {
    font-size: 37px;
}
a.division {
    color:#424141 !important;
    font-family: Lato_Bold !important;

}

