@font-face {
  font-family: 'Cambio-de-contrasea-x-correo-B';
  src:  url('fonts/Cambio-de-contrasea-x-correo-B.eot?thjsfv');
  src:  url('fonts/Cambio-de-contrasea-x-correo-B.eot?thjsfv#iefix') format('embedded-opentype'),
    url('fonts/Cambio-de-contrasea-x-correo-B.ttf?thjsfv') format('truetype'),
    url('fonts/Cambio-de-contrasea-x-correo-B.woff?thjsfv') format('woff'),
    url('fonts/Cambio-de-contrasea-x-correo-B.svg?thjsfv#Cambio-de-contrasea-x-correo-B') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Cambio-de-contrasea-x-correo-B' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cam-contra-bb-correo:before {
  content: "\e900";
}
.icon-cam-contra-bb-telefono:before {
  content: "\e901";
}
