@font-face {
  font-family: 'gestiones-bb-tracking';
  src:  url('fonts/gestiones-bb-tracking.eot?yhmpfu');
  src:  url('fonts/gestiones-bb-tracking.eot?yhmpfu#iefix') format('embedded-opentype'),
    url('fonts/gestiones-bb-tracking.ttf?yhmpfu') format('truetype'),
    url('fonts/gestiones-bb-tracking.woff?yhmpfu') format('woff'),
    url('fonts/gestiones-bb-tracking.svg?yhmpfu#gestiones-bb-tracking') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Gestiones_icon-gestiones-"], [class*=" Gestiones_icon-gestiones-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gestiones-bb-tracking' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Gestiones_icon-gestiones-Archivo:before {
  content: "\e910";
}
.Gestiones_icon-gestiones-Cargar-archivo:before {
  content: "\e911";
}
.Gestiones_icon-gestiones-cerrar:before {
  content: "\e912";
}
.Gestiones_icon-gestiones-Eliminar2:before {
  content: "\e913";
}
.Gestiones_icon-gestiones-gestiones:before {
  content: "\e90f";
}
.Gestiones_icon-gestiones-favorito:before {
  content: "\e90e";
}
.Gestiones_icon-gestiones-adquisicin:before {
  content: "\e90d";
}
.Gestiones_icon-gestiones-Prox-gestiones:before {
  content: "\e922";
}
.Gestiones_icon-gestiones-Otras-gestiones:before {
  content: "\e90c";
}
.Gestiones_icon-gestiones-check_2:before {
  content: "\e90b";
}
.Gestiones_icon-gestiones-alerta:before {
  content: "\e905";
}
.Gestiones_icon-gestiones-error:before {
  content: "\e906";
}
.Gestiones_icon-gestiones-lista:before {
  content: "\e907";
}
.Gestiones_icon-gestiones-mosaico:before {
  content: "\e908";
}
.Gestiones_icon-gestiones-reloj:before {
  content: "\e90a";
}
.Gestiones_icon-gestiones-buscador:before {
  content: "\e909";
}
.Gestiones_icon-gestiones-calendario:before {
  content: "\e900";
}
.Gestiones_icon-gestiones-check:before {
  content: "\e901";
}
.Gestiones_icon-gestiones-computadora:before {
  content: "\e902";
}
.Gestiones_icon-gestiones-hoja:before {
  content: "\e903";
}
.Gestiones_icon-gestiones-revision:before {
  content: "\e904";
}
