@font-face {
  font-family: 'guateach';
  src:  url('fonts/guateach.eot?487gci');
  src:  url('fonts/guateach.eot?487gci#iefix') format('embedded-opentype'),
    url('fonts/guateach.ttf?487gci') format('truetype'),
    url('fonts/guateach.woff?487gci') format('woff'),
    url('fonts/guateach.svg?487gci#guateach') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ach-iconos_ach_"], [class*=" ach-iconos_ach_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'guateach' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ach-iconos_ach_Anterior:before {
  content: "\e900";
}
.ach-iconos_ach_Final:before {
  content: "\e901";
}
.ach-iconos_ach_flecha-tablas:before {
  content: "\e902";
  color: #707070;
}
.ach-iconos_ach_Inicio:before {
  content: "\e903";
}
.ach-iconos_ach_Siguiente:before {
  content: "\e904";
}
.ach-iconos_ach_cancelar:before {
  content: "\e906";
}
.ach-iconos_ach_comprobante:before {
  content: "\e907";
}
.ach-iconos_ach_detalle:before {
  content: "\e908";
}
.ach-iconos_ach_dirigir:before {
  content: "\e909";
}
.ach-iconos_ach_editar:before {
  content: "\e90a";
}
.ach-iconos_ach_eliminar:before {
  content: "\e90b";
}
.ach-iconos_ach_archivopropio:before {
  content: "\e90c";
}
.ach-iconos_ach_agregararchivo:before {
  content: "\e90d";
}
.ach-iconos_ach_agregarbeneficiario:before {
  content: "\e90e";
}
.ach-iconos_ach_autorizar:before {
  content: "\e90f";
}
.ach-iconos_ach_basurero:before {
  content: "\e910";
}
.ach-iconos_ach_buscar:before {
  content: "\e911";
}
.ach-iconos_ach_calendario:before {
  content: "\e912";
}
.ach-iconos_ach_check:before {
  content: "\e913";
}
.ach-iconos_ach_editar1:before {
  content: "\e914";
}
.ach-iconos_ach_listado:before {
  content: "\e915";
}
.ach-iconos_ach_usuario:before {
  content: "\e916";
}
