/*dots paginas 18*/ 
.slick-list.draggable {
    margin-left: 17px !important;
    height: 500px !important; 
}

/*felchas*/
.slick-prev, .slick-next {
    margin-top: 14.1rem !important;
}
    
.slick-prev {
    right: 2px;
    z-index: 1;
    margin-top: 12.5rem;
}

@media (max-width: 1039px) {
    .slick-prev, .slick-next {
        margin-right: 0rem !important;
    }
}

@media (max-width: 639px) {
    .slick-list.draggable {
        height: 450.781px !important;
    }
}
